*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  font: 300 20px/1.4 -apple-system, 'VT323', monospace;
  color: #545e6f;
  display: flex;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  outline: 0;
}

.clearfix {
  clear: both;
  float: none;
}